.modalContainer {
  margin: 0 18px;
  position: fixed;
  justify-content: center;
  width: 350px;
  height: 190px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  padding: 10px;
}
